<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEAM</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Contact.css') }}">
</head>
<body>
    <div class="team">
        <h1>PROJECT BY:</h1>
        <P>Kerston Anto Singh (URK22AI1001) <br>
        Ben David D Walker (URK22AI1032) <br>
        Charles Finny (URK22AI1105)
        </P>
    </div>
</body>
</html>