<!DOCTYPE html>
<html>
  <head>
    <title>My Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  
  <body>
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="{{url_for('contact')}}">Contact</a>
      <a class="login" href="/login">Login</a>
    </nav>
    
    <div class="content">
      <h1>Welcome to our python project</h1>
      <h4>So our project is about how python works in login pages??
        so we use famous framework <p1>asdjfasdnf ais aldf a (some) 🤣🤣 aefsd (error) aldkfj😭😭🥲😢a (occur)</p1>
        <a href="/login"> TRY LOGIN IN</a>
      </h4>
    </div>
  </body>
</html>
